.details{
    padding-top: 120px;
    text-align: center;
    overflow: hidden;

}

.details p {
    display: inline-block;
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
    font-size: 18px;
}

.p-label {
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
}

.details img {
    object-fit: cover;
    height: 230px;
    width: 230px;
}

.edit-ad{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.link-btn{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
    font-size: 20px;
}
